.main_Light{
  width: 100%;
  background-image: url('http://134976.lp.tobiz.net/img/1920x0/9d327c29c7a61a0b05fdeabdba0d31e2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:right;
}
body {    
  margin: 0 !important;
  padding: 0 !important;
}
